---
layout: default
---

<div class="home">
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2 class="post-link-title">
          <a class="post-link link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>

        <div class="post-excerpt">
          {{post.excerpt}}
        </div>

        <ul class="post-tags">
          <i class="fa fa-tag"></i>
          {% for category in post.categories %}
            <li>{{category}}</li>
          {% endfor %}
        </ul>
        
      </li>
      <div class="shadow-bar"></div>
    {% endfor %}
  </ul>

  <div class="text-center">
  More content is coming your way soon, be the first to know.
  <br>Subscribe via
  <a href='http://feedly.com/i/subscription/feed/https://jesusoterogomez.com/blog/feed.xml'  target='blank'><img id='feedlyFollow' src='http://s3.feedly.com/img/follows/feedly-follow-logo-white_2x.png' alt='follow us in feedly' width='22' height='22'>&nbsp;feedly</a> or <a href="{{ "/feed.xml" | relative_url }}">
    <i class="fa fa-feed"></i>
    RSS
    </a>
  </div>

  

</div>
